{% extends 'auth_base.html' %}

{% block title %}Kirish{% endblock title %}

{% block auth_content %}
<p class="login-box-msg">Login va parol orqali kirish</p>

<form method="post">
  {% csrf_token %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
  {% endif %}

  <div class="input-group mb-3">
    <input type="text" name="username" id="id_username" class="form-control" placeholder="Login" required>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-user"></span>
      </div>
    </div>
  </div>

  <div class="input-group mb-3">
    <input type="password" name="password" id="id_password" class="form-control" placeholder="Parol" required>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button type="submit" class="btn btn-primary btn-block">Kirish</button>
    </div>
  </div>
</form>
{% endblock auth_content %}
